/* Add your icon fonts as a font-face so we can use it. */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot') format('embedded-opentype'),
	url('fonts/icomoon.ttf') format('truetype'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* 
	Use your font face for any elements with "icon-" or " icon-" in their class.
	The ^= and *= find a string that begins with or contains the following string, respectively.
*/

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* use the pseudo-element :before to show the icon */
